    params {
        data_path = "data/raw/"
        output_path = "data/results/"
        min_genes = 200
        max_genes = 2500
        max_pct_mt = 5.0
        mt_prefix = "MT-"
        target_sum = 10000
        n_neighbors = 15
        n_comps = 50
        resolution = 0.5
    }

    process {
        container = 'scrna-pipeline'
    }

    docker {
        enabled = true
    }