    params {
        data_path = "data/raw/"
        output_qc = "data/results/qc/"
        output_norm = "data/results/normalized/"
        output_cluster = "data/results/clustered/"
        min_genes = 200
        max_genes = 2500
        max_pct_mt = 5.0
        mt_prefix = "MT-"
        target_sum = 10000
        n_neighbors = 15
        n_comps = 50
        resolution = 0.5
    }

    process {
    container = 'scrna-pipeline'
    errorStrategy = 'retry'
    maxRetries = 3
}  

    docker {
    enabled = true
    runOptions = '--pull=never'
}

profiles {
    local {
        process.executor = 'local'
    }
    
    awsbatch {
        process.executor = 'awsbatch'
        process.queue = 'my-bioinformatics-queue'
        aws.region = 'us-east-1'
        aws.batch.cliPath = '/home/miniconda/bin/aws'
    }
}

trace {
    enabled = true
    file = 'pipeline_trace.txt'
}

report {
    enabled = true
    file = 'pipeline_report.html'
}

timeline {
    enabled = true
    file = 'pipeline_timeline.html'
}